<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Chat App using Golang - HTML - CSS and JS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Chat App</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/modal.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Quicksand:wght@300&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="container" id="container-login">
                <div id="login-form">
                    <div id="signIn">
                        <form>
                            <div class="form-header">
                                <h1 class="h1Black">Sign In</h1>
                            </div>
                            <div class="form-field">
                                <input type="text" id="username" autocomplete="off" placeholder="Username" />
                                <small></small>
                            </div>
                            <div class="form-field">
                                <input type="password" id="password" autocomplete="off" placeholder="Password" />
                                <small></small>
                            </div>
                            <div class="form-footer">
                                <button type="button" id="signInBtn">Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div id="signUp">
                        <form>
                            <div class="form-header">
                                <h1 class="h1White">Hello, friend!</h1>
                            </div>
                            <div class="form-field">
                                Enter your personal details and start your journey with us
                            </div>
                            <div class="form-footer">
                                <button type="button" id="signUpBtn">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="modalDialog" class="modal-container">
                <div class="modal">
                    <div class="modal-header">Error
                        <span class="close">&times;</span>
                    </div>
                    <div class="modal-content">
                        <p>Some text in the Modal..</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="errorBtn">Ok</button>
                    </div>
                </div>
            </div>
            <div id="main-container" class="main-container">
                <header><h1>Chat App</h1></header>
                <div id="flex-container">
                    <article>
                        Starting chat!!!!
                    </article>
                    <aside class="users">Test</aside>
                </div>
                <footer><h4>The footers</h4></footer>
            </div>
        </main>
        <script type="module" src="/js/script.js"></script>
    </body>
</html>