<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Chat App using Golang - HTML - CSS and JS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Chat App</title>
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Quicksand:wght@300&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="container">
                <div id="login-form">
                    <div id="login-sign-in">
                        <form>
                            <div class="form-header">
                                <h1>Sign In</h1>
                            </div>
                            <div class="form-field">
                                <input type="text" id="username" autocomplete="off" placeholder="Username" />
                                <small></small>
                            </div>
                            <div class="form-field">
                                <input type="password" id="password" autocomplete="off" placeholder="Password" />
                                <small></small>
                            </div>
                            <div class="form-footer">
                                <button type="button" id="loginBtn">Login</button>
                            </div>
                        </form>
                    </div>
                    <div id="login-sign-up">
                        Hello, friend!
                        Enter your personal details and start your journey with us
                        
                        Sign Up
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/script.js"></script>
    </body>
</html>