@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-container {
    position: fixed;
    left: 0;
    top: 0;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%
}

header {
    height: 9%;
    margin: -0.7em 0.6em 0.6em; 
    padding-left: 1em;
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);
}

header > h1 {
    color:white;
}

footer {
    height: 7%;
    margin-left: 0.6em;
    margin-right: 0.6em;
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);
    text-align: right;
    color: white;
}

#flex-container {
    display: flex;
    margin: -0.3em 0.6em 0.3em;
    height: 79%;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
}

article {
    flex: 10;
    background: rgb(226,58,58);
    padding: 5px;
}

aside {
    flex: 2;
    background: rgb(226,58,58);
    padding: 5px;
    margin-left: 0.3em;
}

img {
    width: 35px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
}

/* Styling the msg-header container */
.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    /* height: 7%; */
    border-bottom: none;
    display: inline-block;
    background-color: #efefef;
    margin: 0;
    border-radius: 20px;
}

.msgimg {
    margin-left: 2%;
    margin-top: 3%;
    float: left;
}

/* .container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
} */

/* styling user-name */
.active {
    /* width: 150px; */
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 8%;
}

/* Styling the chat box container */
.chat-page {
    padding: 0 0 50px 0;
    height: 100%;
}

.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
}

.chats {
    padding: 30px 15px 0 25px;
    background-color: #404040;
    height: 100%;
}

/* Styling the message page */
.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

/* Styling the msg-bottom container */
.msg-bottom {
    border-top: 1px solid #ccc;
    position: relative;
    height: 11%;
    background-color: rgb(239 239 239);
}
/* Styling the input field */
.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.send-icon {
    font-weight: bold !important;
}

/* Styling the avatar  */
.received-chats-img {
    display: inline-block;
    width: 50px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
    margin-left: -2em;
}
.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: white;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #3a12ff;
    background-image: linear-gradient(45deg, #ee087f 0%, #DD2A7B 25%, #9858ac 50%, #8134AF 75%, #515BD4 100%);
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
.outgoing-chats-msg {
    float: right;
    width: 46%;
}

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}
