.main-container {
    position: fixed;
    left: 0;
    top: 0;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%
}

header, footer {
    height: 100px;
    margin: 10px;
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);
}

header > h1 {
    color:white;
}

footer > h4 {
    color: white;
    text-align: right;
}

#flex-container {
    display: flex;
    margin: 10px;
    height: 65%;
}

article {
    flex: 3;
    background: rgb(226,58,58);
    padding: 10px;
    border-radius: 15px;
}

aside {
    flex: 1;
    background: rgb(226,58,58);
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;

}

.conversations {
    background: hsl(69, 35%, 84%);
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}

.users {
    background: hsl(69, 35%, 84%);
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}