/* The Modal (background) */
.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    width: 100%;
    height: 100%;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
        border: 1px solid black;
        box-shadow: 10px 5px 5px red;
  }

/* Modal Header */
.modal-header {
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);  
    width: 100%;
    margin: auto;
    padding: 15px;
    color: white;
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.modal-footer {
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);  
    width: 100%;
    margin: auto;
    padding: 10px;
}

#errorBtn {
    background: rgb(226,58,58);
    background: linear-gradient(90deg, rgba(226,58,58,1) 47%, rgba(107,59,40,1) 100%);
    color:white;

    border-radius:30px;
    border: 2px solid white;
    background-color: transparent;
    padding: 3px;
    color:white;
    width: 100px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}
  
/* The Close Button */
.close {
    vertical-align: text-top;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}